.profileImage{
    height: 400px;
    clip-path: circle(50%);
    filter: grayscale(0.3);
}



.nextgen-logo{
    width: 100px;
    height: 50px;
}

.accordo-logo{
    position: relative;
    width: 100px;
    height: 100px;
    top: -10px ;
    /* outline: 1px solid red; */
}

.carouselTicker__item, .list-inline-item{
  font-weight: bold;
  font-size: 1.5rem;
}

@media screen and (max-width: 991.5px) {
  .education{
    background-color: lightgreen;
  }
}

