.profileImage{
    height: 400px;
    clip-path: circle(50%);
    filter: grayscale(0.3);
}



.nextgen-logo{
    width: 100px;
    height: 50px;
}

.accordo-logo{
    width: 100px;
    height: 100px;
}